<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odd.oddProject.mapper.OddLocationMapper">
    <insert id="insertLocation" parameterType="java.util.HashMap">
        INSERT INTO ODD_LOCATION (
                                  ODD_CITY
                                  , ODD_DISTRICT
                                  , ODD_DONG
                                  , ODD_X
                                  , ODD_Y
                                  , del_yn
                                  , ODD_FULLNAME
                                  ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
            #{item.city}
            , #{item.district}
            , #{item.dong}
            , #{item.x}
            , #{item.y}
            , 'Y'
            , #{item.fullName}
        )
        </foreach>
    </insert>
    <select id = "selectLocation" parameterType="String" resultType="hashMap">
        SELECT  L.ODD_CITY
                , L.ODD_DISTRICT
                , L.ODD_DONG
                , L.ODD_X
                , L.ODD_Y
                , L.ODD_FULLNAME
        FROM ODD_LOCATION L
        <if test= "srchFilter != null">
        WHERE
            L.ODD_FULLNAME LIKE CONCAT('%',#{srchFilter},'%') ;
        </if>
    </select>

</mapper>